C:\Users\samhe\Documents\GitHub\Zavrsna_aplikacija\OnlineTrgovinaWebAPI\OnlineTrgovina\bin
C:\Users\samhe\Documents\GitHub\Zavrsna_aplikacija\OnlineTrgovinaWebAPI\OnlineTrgovina\obj
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/appsettings.Development.json
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/appsettings.json
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Azure.Core.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Azure.Identity.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.Identity.Client.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.OpenApi.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Newtonsoft.Json.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.deps.json
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.exe
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.pdb
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.runtimeconfig.json
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.staticwebassets.runtime.json
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/OnlineTrgovina.xml
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Drawing.Common.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Memory.Data.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Runtime.Caching.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Security.Permissions.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/bin/Debug/net7.0/System.Windows.Extensions.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/apphost.exe
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.AssemblyInfo.cs
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.AssemblyInfoInputs.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.assets.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.csproj.AssemblyReference.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.csproj.BuildWithSkipAnalyzers
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.csproj.CopyComplete
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.csproj.CoreCompileInputs.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.csproj.FileListAbsolute.txt
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.GeneratedMSBuildEditorConfig.editorconfig
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.genruntimeconfig.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.GlobalUsings.g.cs
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.MvcApplicationPartsAssemblyInfo.cache
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.MvcApplicationPartsAssemblyInfo.cs
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.pdb
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/OnlineTrgovina.xml
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/ref/OnlineTrgovina.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/refint/OnlineTrgovina.dll
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets.build.json
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets.development.json
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets.pack.json
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets/msbuild.build.OnlineTrgovina.props
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.OnlineTrgovina.props
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.OnlineTrgovina.props
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/Debug/net7.0/staticwebassets/msbuild.OnlineTrgovina.Microsoft.AspNetCore.StaticWebAssets.props
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/OnlineTrgovina.csproj.nuget.dgspec.json
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/OnlineTrgovina.csproj.nuget.g.props
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/OnlineTrgovina.csproj.nuget.g.targets
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/project.assets.json
OnlineTrgovinaWebAPI/OnlineTrgovina/obj/project.nuget.cache
